button.refresh{
    float: right;
    background: black;
    border: none;
    color: #fff;
    /* padding: 6px; */
    border-radius: 3px;
    width: 28px;
    height: 28px;
    padding-top: 3px;
    cursor: pointer;
}

.header {
    text-align: center;
    font-size: 17px;
    color: #000;
}